services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GIT_BRANCH: main
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_JDBC_URL: "jdbc:postgresql://postgres:5432/tcdi_admin"
      SPRING_JPA_HIBERNATE_DDL-AUTO: "update"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "admin"
      SERVER_PORT: 8083
    networks:
      - backend
    depends_on:
      postgres:
        condition: service_healthy


  postgres:
    image: mdillon/postgis
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: postgres
      POSTGRES_DB: tcdi_admin
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -Upostgres", "-d", "postgres" ]
      interval: 10s
      timeout: 30s
      retries: 3
    networks:
      backend:


networks:
  backend:

volumes:
  postgres_data: