<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- keep console log colors configured in spring boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
<!--    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>-->

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="org.hibernate.tool.hbm2ddl" level="WARN"/>
    <logger name="org.hibernate.cache.ehcache" level="ERROR"/>

    <logger name="liquibase.executor.jvm.JdbcExecutor" level="WARN"/>

    <logger name="org.apache.wicket.resource" level="WARN"/>
    <logger name="org.apache.wicket.Localizer" level="ERROR"/>
    <logger name="net.sf.ehcache.pool.sizeof.SizeOf" level="ERROR"/>

    <logger name="org.pentaho.reporting.libraries.fonts" level="WARN"/>
    <logger name="org.pentaho.reporting.engine.classic" level="WARN"/>
    <logger name="com.google.javascript.jscomp" level="ERROR"/>

    <!-- Setting the root level of logging to INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>
